<div class="card ticket" (click)="selectTicket()">
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->
  <h3> Titre : {{ticket.title}}</h3>
  <i class="fas fa-calendar-alt"></i> {{ticket.date | date: 'shortTime'}} &nbsp;&nbsp;
  <i class="far fa-user"></i> {{ticket.student}}
  <div *ngIf="ticket.major=='GE'">
    <i  class="fas fa-wrench"></i> {{ticket.major}}
  </div>
  <div *ngIf="ticket.major=='GB'">
    <i  class="fas fa-wine-glass"></i> {{ticket.major}}
  </div>
  <button type="button" class="delete" (click)="deleteTicket()">Delete</button>
</div>
  
